

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.foto{
    width: auto;
    height: 100%;
    border-radius: 20px;
    margin-right: 10%;
}

.info-pessoal{
    font-style: italic;
}

.info-pessoal h1{
    font-size: 30px;
    color: rgb(17, 168, 243);
    margin-bottom: 20px;
}

.info-pessoal h2{
    color: rgb(182, 204, 223);
    padding: 5px    ;
}

.item{
    color: black;
}